<mat-card class="example-card">
  <div>
    <mat-form-field class="employeeId">
      <input type="text" matInput placeholder="Job Id" [(ngModel)]="job.jobId" [disabled]="true">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="firstName">
      <input type="text" matInput placeholder="Job title" [(ngModel)]="job.jobTitle">
    </mat-form-field>

    <mat-form-field class="firstName">
      <input type="number" matInput placeholder="Min salary" [(ngModel)]="job.minSalary">
    </mat-form-field>

    <mat-form-field class="firstName">
      <input type="number" matInput placeholder="Max salary" [(ngModel)]="job.maxSalary">
    </mat-form-field>

  <p>
    <button mat-raised-button color="primary" (click)="onSubmit(job)">Update</button>
  </p>

  <p>
    <button mat-raised-button color="primary" [routerLink]="['/']">Go back</button>
  </p>
  </div>
</mat-card>



